{% extends 'main/face.html' %}
{%load static %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title>Following List</title>
        <style type="text/css">
                body {
            font-family: Arial, sans-serif;
           
            margin: 0;
            padding: 0;
        }

        .design {
            max-width: 500px;
            margin: 20px auto;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        }



        .profile-pic {
  flex-shrink: 0;
  margin-right: 20px;
}

.profile-pic img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}



.cm {
  font-size: 12px;
}

     .action-item {
            display: inline-block;
            padding: 10px 20px;
            margin-right: 10px;
            border-radius: 5px;
            text-align: center;
            font-size: 12px; /* Adjust the font size as needed */
        }
        .action-item a {
           color: #000;
            text-decoration: none;
            font-size: inherit;
        }
        .action-item i {
            margin-right: 5px;
        }
    </style>
</head>
<body>


        <h2 style="font-size: 19px; padding-left: 20px;">User_Following</h2>
    <div class="design">
    <h1 style="font-size: 19px">Following List for {{ user.username }}</h1>
         <div style="border-left: 2px solid #3498db; height: 400px; overflow-y: auto; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
    
    <ul>
        {% for followed in following %}
                       <div class="profile-pic">
                        <a href="{% url 'profile_view' username=followed.followed.username %}">
                <!-- Display campaign owner's profile picture -->
                <img src="{{ followed.followed.profile.image.url }}" alt="{{ user.username }}'s Profile Picture" class="profile-picture">
            </a>
        </div>
        <li>{{ followed.followed.username }} 
      {% if followed.followed.profile.is_verified %}
            <span class="verified-status" style="font-size: 12px;"><span>verified</span><i class="material-icons" style="font-size:20px;color:green">verified_user</i></span>
        {% endif %}

            . <i class="cm"></li>
        {% endfor %}
    </ul>
</div>
</div>
<script type="text/javascript">
    


        // Function to handle file upload and playback
        function uploadAudio() {
            var input = document.createElement('input');
            input.type = 'file';
            input.accept = 'audio/*, video/*'; // Limit file selection to audio files

            // Listen for file selection
            input.onchange = function(e) {
                var file = e.target.files[0];
                var audio = document.getElementById('bgAudio');

                // Pause the current audio playback
                audio.pause();

                // Store the selected audio file and its playback position in local storage
                localStorage.setItem('bgAudioFile', URL.createObjectURL(file));
                localStorage.setItem('bgAudioPosition', audio.currentTime);

                // Set the audio source to the selected file
                audio.src = localStorage.getItem('bgAudioFile');

                // Resume audio playback
                audio.play();
            };

            // Trigger the file input
            input.click();
        }

        // Function to set background audio on page load
        window.onload = function() {
            var audio = document.getElementById('bgAudio');
            var bgAudioFile = localStorage.getItem('bgAudioFile');
            var audioPosition = parseFloat(localStorage.getItem('bgAudioPosition'));

            // Check if there's a stored audio file
            if (bgAudioFile) {
                // Set the audio source to the stored file
                audio.src = bgAudioFile;

                // Set the playback position if available
                if (!isNaN(audioPosition)) {
                    audio.currentTime = audioPosition;
                }

                // Autoplay the audio
                audio.play();
            }
        };

        // Store current playback position before page refresh
        window.addEventListener('beforeunload', function() {
            var audio = document.getElementById('bgAudio');
            localStorage.setItem('bgAudioPosition', audio.currentTime);
        });


function switchColor() {
    var body = document.body;
    var logoContainer = document.querySelector('.logo-container');

    // Define the color sequence (black, white)
    var colors = ["black", "white"];

    // Find the index of the current color in the sequence
    var currentIndex = colors.indexOf(body.style.backgroundColor);

    // Set the next color in the sequence
    var nextColor = colors[(currentIndex + 1) % colors.length];

    // Apply the new color to the body and other elements
    body.style.backgroundColor = nextColor;

    // Change background color and border of logo-container based on nextColor
    if (nextColor === "black") {
        logoContainer.style.backgroundColor = "";
        logoContainer.style.border = "none"; 
    } else {
        logoContainer.style.backgroundColor = ""; // or "transparent"
        logoContainer.style.border = "none";  // Remove border
    }

    // Other elements to be updated based on nextColor
    var header = document.querySelector('header');
    var footer = document.querySelector('footer');
    var sections = document.querySelectorAll('section, .left-aside, .right-aside');
    var textElements = document.querySelectorAll('h1, h2, p, li, nav a, .btn, .upper-post, .reaction, .campaign-content, .action-item, .action-item a, .carousel, .ad, .slide, .ad a');
    var buttons = document.querySelectorAll('button');
    var reactDivs = document.querySelectorAll('.react div');
    var loveCounts = document.querySelectorAll('[id^="love-count-"]');
    var viewCounts = document.querySelectorAll('#view-count');
    var commentCounts = document.querySelectorAll('.comment-count');

    // Update header background color based on nextColor
    if (nextColor === "black") {
        header.style.backgroundColor = "#333333";  // Darker gray when background is black
    } else {
        header.style.backgroundColor = nextColor;
    }

    footer.style.backgroundColor = nextColor;

    sections.forEach(function(section) {
        section.style.backgroundColor = nextColor;
    });

    var textColor = nextColor === "black" ? "white" : "black";
    header.style.color = textColor;
    footer.style.color = textColor;

    textElements.forEach(function(element) {
        element.style.color = textColor;
    });

    var buttonColor = nextColor === "black" ? "#262626" : "";
    buttons.forEach(function(button) {
        button.style.backgroundColor = buttonColor;

        if (nextColor === "black") {
            button.classList.add('button-hover');
        } else {
            button.classList.remove('button-hover');
            button.style.backgroundColor = "";
        }
    });

    reactDivs.forEach(function(reactDiv) {
        reactDiv.style.backgroundColor = nextColor === "black" ? "#262626" : "";

        var reactTextColor = nextColor === "black" ? "white" : "black";
        reactDiv.style.color = reactTextColor;

        if (nextColor === "black") {
            reactDiv.classList.add('react-hover');
        } else {
            reactDiv.classList.remove('react-hover');
            reactDiv.style.backgroundColor = "";
        }
    });

    var countTextColor = nextColor === "black" ? "white" : "black";
    loveCounts.forEach(function(element) {
        element.style.color = countTextColor;
    });
    viewCounts.forEach(function(element) {
        element.style.color = countTextColor;
    });
    commentCounts.forEach(function(element) {
        element.style.color = countTextColor;
    });
}


  document.addEventListener('DOMContentLoaded', function() {
    var mediaQuery = window.matchMedia('(max-width: 768px)');
    var leftAside = document.querySelector('.left-aside');
    var rightAside = document.querySelector('.right-aside');

    function handleMediaQueryChange(e) {
      if (e.matches) {
        leftAside.style.display = 'none';
        rightAside.style.display = 'none';
      } else {
        leftAside.style.display = 'block';
        rightAside.style.display = 'block';
      }
    }

    mediaQuery.addListener(handleMediaQueryChange);
    handleMediaQueryChange(mediaQuery);
  });




</script>
<script type="text/javascript">
    
document.addEventListener("DOMContentLoaded", function() {
    const navbarToggle = document.getElementById("navbarToggle");
    const navbar = document.getElementById("navbar");
    const popupClose = document.getElementById("popupClose");

    // Toggle navbar visibility
    navbarToggle.addEventListener("click", function() {
        if (navbar.style.display === "block") {
            navbar.style.display = "none";
        } else {
            navbar.style.display = "block";
        }
    });

    // Close popup when clicking the close button
    popupClose.addEventListener("click", function() {
        navbar.style.display = "none";
    });

    // Adjust navbar display on window resize
    window.addEventListener("resize", function() {
        if (window.innerWidth > 768) {
            navbar.style.display = "none";
        } else if (navbar.style.display === "block") {
            navbar.style.display = "block";
        } else {
            navbar.style.display = "none";
        }
    });

    // Ensure the navbar is initially hidden on page load for larger screens
    if (window.innerWidth > 768) {
        navbar.style.display = "none";
    } else {
        navbar.style.display = "none"; // or "block" based on your initial requirement
    }
});
</script>
</body>
</html>
{% endblock %}