<!-- hadith_detail.html -->
{% extends 'main/face.html' %}

{% block content %}
<style>
    /* Define CSS variables for light mode */
    :root {
        --background-color: #f7f7f7;
        --text-color: #333;
        --container-bg: #ffffff;
        --container-shadow: rgba(0, 0, 0, 0.1);
        --link-color: #007bff;
        --accent-color: #3498db;
        --accent-hover: #2980b9;
        --input-bg: #ffffff;
        --input-border: #cccccc;
    }

    /* Dark mode variables */
    body.dark-mode {
        --background-color: #121212;
        --text-color: #ffffff;
        --container-bg: #1e1e1e;
        --container-shadow: rgba(255, 255, 255, 0.1);
        --link-color: #1e90ff;
        --accent-color: #2980b9;
        --accent-hover: #1c6ea4;
        --input-bg: #333333;
        --input-border: #444444;
    }

    /* Apply variables */
    body {
        background-color: var(--background-color);
        color: var(--text-color);
    }

    .hadith-detail-container {
        background-color: var(--container-bg);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 6px var(--container-shadow);
        margin-bottom: 20px;
    }

    .hadith-detail-title {
        font-size: 19px;
        color: var(--text-color);
        text-decoration: underline;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: center;
    }

    .hadith-info p {
        margin: 5px 0;
        font-size: 16px;
        color: var(--text-color);
        line-height: 1.5;
    }

    .back-to-list-link {
        color: var(--link-color);
        text-decoration: none;
        font-size: 16px;
        display: inline-block;
        margin-top: 10px;
    }

    .back-to-list-link:hover {
        text-decoration: underline;
    }

    /* Dark mode specific styles */
    body.dark-mode .search-container input[type="text"] {
        background-color: var(--input-bg);
        color: var(--text-color);
        border: 1px solid var(--input-border);
    }

    body.dark-mode button:not(.btn-search, .btn-reset) {
        background-color: var(--container-bg);
        color: var(--text-color);
    }

    body.dark-mode .affiliate-link {
        background-color: var(--accent-color);
        color: var(--text-color);
    }

    body.dark-mode .affiliate-link:hover {
        background-color: var(--accent-hover);
    }

    /* Responsive Styles */
    @media (max-width: 600px) {
        .hadith-detail-container {
            padding: 15px;
            margin: 10px;
            border-radius: 8px;
        }

        .hadith-detail-title {
            font-size: 16px;
        }

        .hadith-info p {
            font-size: 14px;
        }

        .back-to-list-link {
            font-size: 14px;
        }
    }
</style>

    <div class="hadith-detail-container">
        <h1 class="hadith-detail-title">Hadith Detail</h1>
        <div class="hadith-details">
            <div class="hadith-info">
                <p><strong>Reference:</strong> {{ hadith.reference }}</p>
                <p><strong>Narrator:</strong> {{ hadith.narrator }}</p>
                <p><strong>Authenticity:</strong> {{ hadith.authenticity }}</p>
                <p><strong>Text:</strong> {{ hadith.text }}</p>
            </div>
            <a href="{% url 'hadith_list' %}" class="back-to-list-link">Back to Hadith List</a>
        </div>
    </div>

    <script type="text/javascript">
    
        // Function to handle file upload and playback
        function uploadAudio() {
            var input = document.createElement('input');
            input.type = 'file';
            input.accept = 'audio/*, video/*'; // Limit file selection to audio files

            // Listen for file selection
            input.onchange = function(e) {
                var file = e.target.files[0];
                var audio = document.getElementById('bgAudio');

                // Pause the current audio playback
                audio.pause();

                // Store the selected audio file and its playback position in local storage
                localStorage.setItem('bgAudioFile', URL.createObjectURL(file));
                localStorage.setItem('bgAudioPosition', audio.currentTime);

                // Set the audio source to the selected file
                audio.src = localStorage.getItem('bgAudioFile');

                // Resume audio playback
                audio.play();
            };

            // Trigger the file input
            input.click();
        }

        // Function to set background audio on page load
        window.onload = function() {
            var audio = document.getElementById('bgAudio');
            var bgAudioFile = localStorage.getItem('bgAudioFile');
            var audioPosition = parseFloat(localStorage.getItem('bgAudioPosition'));

            // Check if there's a stored audio file
            if (bgAudioFile) {
                // Set the audio source to the stored file
                audio.src = bgAudioFile;

                // Set the playback position if available
                if (!isNaN(audioPosition)) {
                    audio.currentTime = audioPosition;
                }

                // Autoplay the audio
                audio.play();
            }
        };


function toggleCommentForm() {
    var popup = document.getElementById("commentFormPopup");
    popup.style.display = "block";
}

function closeCommentForm() {
    var popup = document.getElementById("commentFormPopup");
    popup.style.display = "none";
}

document.addEventListener('DOMContentLoaded', function() {
    var campaignElement = document.querySelector('.campaign-details');
    var campaignId = {{ campaign.id }};
    var startTime;

    function recordCampaignView() {
        var endTime = Math.floor(Date.now() / 1000); // Get current time in seconds
        var timeSpent = endTime - startTime;
        
        fetch(`/record_campaign_view/${campaignId}/`, {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ time_spent: timeSpent })
        })
        .then(response => {
            if (response.ok) {
                console.log('View recorded successfully');
            } else {
                console.error('Failed to record view');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function handleVisibilityChange() {
        if (document.visibilityState === 'visible') {
            startTime = Math.floor(Date.now() / 1000); // Get current time in seconds
        } else {
            recordCampaignView();
        }
    }

    function isInViewport(element) {
        var rect = element.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
    }

    function handleScroll() {
        if (isInViewport(campaignElement)) {
            startTime = Math.floor(Date.now() / 1000); // Get current time in seconds
        } else {
            recordCampaignView();
        }
    }

    document.addEventListener('visibilitychange', handleVisibilityChange);
    document.addEventListener('scroll', handleScroll);
});

document.addEventListener('DOMContentLoaded', function() {
    var mediaQuery = window.matchMedia('(max-width: 768px)');
    var leftAside = document.querySelector('.left-aside');
    var rightAside = document.querySelector('.right-aside');

    function handleMediaQueryChange(e) {
        if (e.matches) {
            leftAside.style.display = 'none';
            rightAside.style.display = 'none';
        } else {
            leftAside.style.display = 'block';
            rightAside.style.display = 'block';
        }
    }

    mediaQuery.addListener(handleMediaQueryChange);
    handleMediaQueryChange(mediaQuery);
});


</script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
    const navbarToggle = document.getElementById("navbarToggle");
    const navbar = document.getElementById("navbar");
    const popupClose = document.getElementById("popupClose");

    // Toggle navbar visibility
    navbarToggle.addEventListener("click", function() {
        if (navbar.style.display === "block") {
            navbar.style.display = "none";
        } else {
            navbar.style.display = "block";
        }
    });

    // Close popup when clicking the close button
    popupClose.addEventListener("click", function() {
        navbar.style.display = "none";
    });

    // Adjust navbar display on window resize
    window.addEventListener("resize", function() {
        if (window.innerWidth > 768) {
            navbar.style.display = "none";
        } else if (navbar.style.display === "block") {
            navbar.style.display = "block";
        } else {
            navbar.style.display = "none";
        }
    });

    // Ensure the navbar is initially hidden on page load for larger screens
    if (window.innerWidth > 768) {
        navbar.style.display = "none";
    } else {
        navbar.style.display = "none"; // or "block" based on your initial requirement
    }
});
</script>

<script type="text/javascript">
function switchColor() {
    const body = document.body;
    const isDarkMode = body.classList.toggle('dark-mode'); // Toggle dark mode class
    var reactDivs = document.querySelectorAll('.react');

    // Update background and text colors for all elements
    const elementsToUpdate = document.querySelectorAll(
        'header, footer, section, .left-aside, .right-aside, .upper-post, .campaign-content, .react, .search-container input, .search-container .btn-reset'
    );

    elementsToUpdate.forEach(element => {
        element.classList.toggle('dark-mode', isDarkMode);
    });

    // Update text colors for specific elements
    const textElements = document.querySelectorAll(
        'h1, h2, h3, h4, p, li, .campaign-nav, .campaign-nav a, .btn, .reaction, .action-item, .action-item a, .carousel, .ad, .slide, .ad a, .explore-link, .love-count, #view-count, .comment-count'
    );

    textElements.forEach(element => {
        element.style.color = isDarkMode ? '#ffffff' : '#000000';
    });

    // Update buttons
    const buttons = document.querySelectorAll('button:not(.btn-search, .btn-reset)');
    buttons.forEach(button => {
        button.style.backgroundColor = isDarkMode ? '#262626' : '';
        button.style.color = isDarkMode ? '#ffffff' : '#000000';
    });

    // Update `.react` divs
    if (reactDivs.length > 0) {
        reactDivs.forEach(function(reactDiv) {
            reactDiv.style.backgroundColor = isDarkMode ? "#262626" : "";
            reactDiv.style.color = isDarkMode ? "white" : "black";

            if (isDarkMode) {
                reactDiv.classList.add('react-hover');
            } else {
                reactDiv.classList.remove('react-hover');
                reactDiv.style.backgroundColor = "";
            }
        });
    }

    // Update input field and reset button
    const inputField = document.querySelector('.search-container input[type="text"]');
    const inputResetButton = document.querySelector('.search-container .btn-reset');

    if (inputField) {
        inputField.style.backgroundColor = isDarkMode ? '#333333' : '#ffffff';
        inputField.style.color = isDarkMode ? '#ffffff' : '#000000';
    }

    if (inputResetButton) {
        inputResetButton.style.color = '#b0b0b0';
    }
}

</script>


{% endblock %}
