<!-- donate.html -->
{% extends 'main/face.html' %}

{% block content %}
<!-- templates/platformfund.html -->
<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Site Verification Meta Tag -->
  <meta name="google-site-verification" content="2IjHwnbJp2eoJ42Ec2-vy5FHzwfpyA4qxZlA2Ct1lW8" />

  <!-- bing Site Verification Meta Tag -->
  <meta name="msvalidate.01" content="2DF73531AC8292B0D47E7DEAE6EEF4CF" />

  <!-- yandex Site Verification Meta Tag -->
  <meta name="yandex-verification" content="27149014e6b080dd" />

  <!-- Meta Tags for SEO -->
  <meta name="description" content="Join RallyNex to support impactful campaigns across global causes like Environmental Conservation, Education, Health, and Equality. Create, share, and fund projects that drive positive change in your community and beyond. Become part of a passionate community dedicated to making a difference today!">
  <meta name="keywords" content="crowdfunding, global causes, environmental conservation, community development, health and wellness, education, equality and inclusion, animal welfare, humanitarian aid, sustainable development, economic empowerment, policy advocacy, artistic advocacy, support campaigns, social impact">
  <meta name="author" content="RallyNex Team">
  <meta name="language" content="English">
  <link rel="canonical" href="https://rallynex.onrender.com">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="RallyNex - Support Campaigns and Causes">
  <meta property="og:description" content="Join RallyNex to support impactful campaigns across global causes like Environmental Conservation, Health, and Education. Create, share, and fund projects that drive positive change!">
  <meta property="og:url" content="https://rallynex.onrender.com">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://rallynex.s3.eu-north-1.amazonaws.com/main/files/og-image.png">

  <meta property="og:image:alt" content="RallyNex platform image">
  <meta property="og:site_name" content="RallyNex">
  <meta property="og:locale" content="en_US">

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="RallyNex - Support Campaigns and Causes">
  <meta name="twitter:description" content="Join RallyNex to support impactful campaigns across global causes like Environmental Conservation, Health, and Education. Create, share, and fund projects that drive positive change!">
  <meta name="twitter:image" content="https://rallynex.s3.eu-north-1.amazonaws.com/main/files/og-image.png">
  <meta name="twitter:image:alt" content="RallyNex platform image">
  <meta name="twitter:site" content="@RallyNex">



  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <title>RallyNex - Together for Change: Support Global Campaigns and Transform Lives</title>
    <style type="text/css">
        /* Adjusted CSS naming to avoid conflict */
        .body-style {
            font-family: Arial, sans-serif;
           
            margin: 0;
            padding: 0;
        }

        .heading-style {
            color: #333;
            text-align: center;
        }

        .list-style {
            list-style-type: none;
            padding: 0;
        }

/* Style for fund item */
.fund-item {
    background-color: #fff;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Space items evenly */
}

.donation-link {
    color: #007bff; /* Default link color */
    text-decoration: none; /* Remove default underline */
    font-weight: bold; /* Make link text bold */
    transition: color 0.3s; /* Smooth color transition on hover */
}

.donation-link:hover {
    color: #0056b3; /* Adjusted link color on hover */
}

.square-with-arrow {
  position: relative;
  display: inline-block;

}

.square-with-arrow .fa-square {
  position: relative;
  display: inline-block;
  color: #007bff;
}

.square-with-arrow .fa-arrow-right {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -5px; /* Adjust this value as needed */
  margin-right: -10px; /* Adjust this value as needed */
  transform: rotate(-45deg);
    color: #007bff; /* Default color for icons */
}

.square-with-arrow:hover .fa-square,
.square-with-arrow:hover .fa-arrow-right {
    color: #0056b3; /* Adjusted color for icons on hover */
}


    </style>
</head>
<body class="body-style">
  

    <h2 class="heading-style" style=" font-size: 19px;">"We appreciate your support."</h2>
    <ul class="list-style">
        {% for fund in platformfunds %}
            <li class="fund-item">
              <a href="{{ fund.donation_link }}" class="donation-link"> <span> Click Here.</span> {{ fund.donation_link }}</a>


           <div class="square-with-arrow" style="font-size:14px;" >
        <i class="fas fa-square"></i>
        <i class="fas fa-arrow-right"></i>
    </div>
            </li>
        {% endfor %}
    </ul>
    <script type="text/javascript">

function switchColor() {
    var body = document.body;
    var logoContainer = document.querySelector('.logo-container');

    // Define the color sequence (black, white)
    var colors = ["black", "white"];

    // Find the index of the current color in the sequence
    var currentIndex = colors.indexOf(body.style.backgroundColor);

    // Set the next color in the sequence
    var nextColor = colors[(currentIndex + 1) % colors.length];

    // Apply the new color to the body and other elements
    body.style.backgroundColor = nextColor;

    // Change background color and border of logo-container based on nextColor
    if (nextColor === "black") {
        logoContainer.style.backgroundColor = "";
        logoContainer.style.border = "none"; 
    } else {
        logoContainer.style.backgroundColor = ""; // or "transparent"
        logoContainer.style.border = "none";  // Remove border
    }

    // Other elements to be updated based on nextColor
    var header = document.querySelector('header');
    var footer = document.querySelector('footer');
    var sections = document.querySelectorAll('section, .left-aside, .right-aside');
    var textElements = document.querySelectorAll('h1, h2, h4, p, li, .campaign-nav, .campaign-nav a, .btn, .upper-post, .reaction, .campaign-content, .action-item, .action-item a, .carousel, .ad, .slide, .ad a, .explore-link');
    var reactDivs = document.querySelectorAll('.react div');
    var loveCounts = document.querySelectorAll('[id^="love-count-"]');
    var viewCounts = document.querySelectorAll('#view-count');
    var commentCounts = document.querySelectorAll('.comment-count');
    var exploreLinks = document.querySelectorAll('.explore-link i'); // Select all compass icons

    // Update header background color based on nextColor
    if (nextColor === "black") {
        header.style.backgroundColor = "#333333";  // Darker gray when background is black
    } else {
        header.style.backgroundColor = nextColor;
    }

    footer.style.backgroundColor = nextColor;

    sections.forEach(function(section) {
        section.style.backgroundColor = nextColor;
    });

    var textColor = nextColor === "black" ? "white" : "black";
    header.style.color = textColor;
    footer.style.color = textColor;

    textElements.forEach(function(element) {
        element.style.color = textColor;
    });

    // Change the color of the compass icon based on the background color
    exploreLinks.forEach(function(icon) {
        icon.style.color = nextColor === "black" ? "white" : "black";
    });

    // Skip changing button colors
    var buttonColor = nextColor === "black" ? "#262626" : ""; // If you want to change button colors based on background, adjust this accordingly
    var buttons = document.querySelectorAll('button:not(.btn-search, .btn-reset)'); // Exclude specific buttons
    buttons.forEach(function(button) {
        button.style.backgroundColor = buttonColor;

        if (nextColor === "black") {
            button.classList.add('button-hover');
        } else {
            button.classList.remove('button-hover');
            button.style.backgroundColor = "";
        }
    });

    reactDivs.forEach(function(reactDiv) {
        reactDiv.style.backgroundColor = nextColor === "black" ? "#262626" : "";

        var reactTextColor = nextColor === "black" ? "white" : "black";
        reactDiv.style.color = reactTextColor;

        if (nextColor === "black") {
            reactDiv.classList.add('react-hover');
        } else {
            reactDiv.classList.remove('react-hover');
            reactDiv.style.backgroundColor = "";
        }
    });

    var countTextColor = nextColor === "black" ? "white" : "black";
    loveCounts.forEach(function(element) {
        element.style.color = countTextColor;
    });
    viewCounts.forEach(function(element) {
        element.style.color = countTextColor;
    });
    commentCounts.forEach(function(element) {
        element.style.color = countTextColor;
    });

    // Update the input field and reset button inside .search-container
    var inputField = document.querySelector('.search-container input[type="text"]');
    var inputResetButton = document.querySelector('.search-container .btn-reset');

    if (nextColor === "black") {
        inputField.style.backgroundColor = "#333333"; // Dark gray for black mode
        inputField.style.color = "white";            // White text in black mode
        inputResetButton.style.color = "#b0b0b0";      // White icon for reset button
    } else {
        inputField.style.backgroundColor = "white";  // Default white background
        inputField.style.color = "black";            // Black text in white mode
        inputResetButton.style.color = "#b0b0b0";      // Black icon for reset button
    }
}



</script>
<script type="text/javascript">    function uploadAudio() {
        var input = document.createElement('input');
        input.type = 'file';
        input.accept = 'audio/*, video/*';

        input.onchange = function(e) {
            var file = e.target.files[0];
            var audio = document.getElementById('bgAudio');
            audio.pause();
            localStorage.setItem('bgAudioFile', URL.createObjectURL(file));
            localStorage.setItem('bgAudioPosition', audio.currentTime);
            audio.src = localStorage.getItem('bgAudioFile');
            audio.play();
        };

        input.click();
    }

    window.onload = function() {
        var audio = document.getElementById('bgAudio');
        var bgAudioFile = localStorage.getItem('bgAudioFile');
        var audioPosition = parseFloat(localStorage.getItem('bgAudioPosition'));

        if (bgAudioFile) {
            audio.src = bgAudioFile;
            audio.addEventListener('loadedmetadata', function() {
                if (!isNaN(audioPosition)) {
                    audio.currentTime = audioPosition;
                }
                audio.play();
            });
        }
    }</script>
      <script type="text/javascript">
        
document.addEventListener("DOMContentLoaded", function() {
    const navbarToggle = document.getElementById("navbarToggle");
    const navbar = document.getElementById("navbar");
    const popupClose = document.getElementById("popupClose");

    // Toggle navbar visibility
    navbarToggle.addEventListener("click", function() {
        if (navbar.style.display === "block") {
            navbar.style.display = "none";
        } else {
            navbar.style.display = "block";
        }
    });

    // Close popup when clicking the close button
    popupClose.addEventListener("click", function() {
        navbar.style.display = "none";
    });

    // Adjust navbar display on window resize
    window.addEventListener("resize", function() {
        if (window.innerWidth > 768) {
            navbar.style.display = "none";
        } else if (navbar.style.display === "block") {
            navbar.style.display = "block";
        } else {
            navbar.style.display = "none";
        }
    });

    // Ensure the navbar is initially hidden on page load for larger screens
    if (window.innerWidth > 768) {
        navbar.style.display = "none";
    } else {
        navbar.style.display = "none"; // or "block" based on your initial requirement
    }
});
    </script>
</body>
</html>

{% endblock %}